.board-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px; 
}
  
  .board-entry {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  .items-list ul {
    list-style-type: none;
    padding: 0; 
    margin: 5px 0px 0px 10px;
    padding-bottom: 2px;
  }
  
.items-list li {
    margin-bottom: 5px;
  }

  .selecteditem {
  font-size: 18px;
}

.icon-wrapper {
  position: relative;
  text-align: center;
  height: 30px;
  margin-right: 8px;
}