.section-boards {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
  }
  
  .board-title{
    text-align: center;
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .board input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #e9540e;
    outline: none;
    background: transparent;
  }
  
  .board input::placeholder {
    color: #fff;
    opacity: 1;
  }
  
  .board input:-webkit-autofill,
  .board input:-webkit-autofill:hover, 
  .board input:-webkit-autofill:focus, 
  .board input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px  inset !important; 
    -webkit-text-fill-color: #fff !important;
  }
  
  .wrapper-buttons{
    display: flex;
    justify-content: center;
  }
  
  .button{
    padding: 10px 28px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
    border: 0;
    cursor: pointer;
  }